.messages {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.messagesItems{
   padding: 10px;
   border-right: 1px solid lightgray;
}

.messagesContent {
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-height: 606px;
    max-width: 800px;
    align-items: flex-start;
}



