.itemLinkImg {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: lightslategrey;
    flex-grow: 1;
}

.itemLinkImg:hover {
    background-color: #ffffff;
    border-radius: 5px;
}

.active {
    color: #1e88e5;
    background-color: #ffffff;
    opacity: 0.8;
}

.ava {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
}

.itemName {
    height: 30%;
    color: black;
}