@import '../../sass/variables';
@import '../../sass/mixin';

.headerContainer {
    @include flex(row, normal, center);
    height: 10vh;
    background: $bgcFirst;
    padding: 20px;
}

.loginBlock {
    margin: 10px 20px 10px auto;
    color: $fontColor;
    font-family: $fontFamily_1;
    font-size: 20px;
}

.loginBlock a {
    text-decoration: none;
    font-family: $fontFamily_1;
    color: $fontColor;
}

.miniAva {
    margin: 10px;
    border-radius: 50%;
    width: 70px;
}

.logout {
    border: none;
    box-shadow: $boxShadow;
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
    font-family: $fontFamily_1;
    margin-right: 20px;
    transition: 0.8s;
    color: white;
    font-size: 16px;
}

.logout:active {
    transform: scale(0.9);
}

.logout:hover {
    cursor: pointer;
}

.login {
    padding: 10px;
    box-shadow: $boxShadow;
}

.login:active {
    transform: scale(0.9);
}

.login:hover {
    cursor: pointer;
}

/*
"https://www.paragyte.com/img/React_Banner.png"
 */