$fontFamily_1: 'Lora', serif;
$fontFamily_2: 'Lora', serif;

$bgcFirst: #1e88e5;
$bgcSecond: #F0F2F5;
$bgLightFirst: #dadada;
$bgLightSecond: #dadada;
$titleLight: rgba(180, 180, 180, 0.7);
$titleDark: hsla(0, 0%, 100%, .07);
$accentColor: #3a5ace;
$fontColor: white;
$fontColor_2: rgba(28,28,28,1);
$fontColor_3: lightslategrey;
$boxShadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
$accentColor: #1e88e5;
