@import '../../../sass/variables';
@import '../../../sass/mixin';

.postsContainer {
    @include flex(row, space-between, center);
    padding: 20px;
    min-height: 35vh;
    width: 100%;
    box-shadow: $boxShadow;
    background: $bgcSecond;
}

.postsBlock {
    width: 100%;
}

.posts {
    margin-top: 10px;
}

.btnPost {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    height: 50px;
    width: 50px;
    border-radius: 20px;
    border: none;
    margin-left: 10px;
    background: #e5e5e5;
    color: dimgray;
    transition: 0.5s;
}

.btnPost:active {
    transform: scale(0.90);
}

.btnPost:hover {
    cursor: pointer;
}

.addPostContainer {
    @include flex(row, normal, center);
    width: 100%;
}

.title {
    box-shadow: $boxShadow;
    padding: 15px;
    text-align: center;
    width: 100%;
    font-family: $fontFamily_1;
    margin-bottom: 20px;
}

.textarea {
    box-shadow: $boxShadow;
    width: 90%;
    outline: none;
    resize: none;
    border: none;
    background-color: transparent;
    padding: 20px;
}

.form_control.error input,
.form_control.erorr textarea
{
    border: 1px solid red;
}