@import '../../../sass/variables';
@import '../../../sass/mixin';

.postsContainer {
    @include flex(row, space-between, center);
    padding: 20px;
    min-height: 35vh;
    width: 100%;
    box-shadow: $boxShadow;
    background: $bgcSecond;
}

.postsBlock {
    width: 100%;
}

.posts {
    margin-top: 10px;
}

.postIcons {
    @include flex(row, space-between, center);
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 11vw;
}

.postIcons svg:hover {
    cursor: pointer;
}

.btnPost {
    box-shadow: $boxShadow;
    height: 50px;
    width: 50px;
    border: none;
    color: $accentColor;
    transition: 0.5s;
}

.btnPost:active {
    transform: scale(0.90);
}

.btnPost:hover {
    cursor: pointer;
}

.addPostContainer {
    @include flex(row, space-between, center);
    width: 100%;
    position: relative;
}

.form_control.error input,
.form_control.erorr textarea
{}

.preparePostTextarea {
    width: 100%;
}