.postsContainer {
    padding: 20px;
    min-height: 35vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background: #dadada;
    margin: 20px 10px 10px 10px;
}

.postsBlock {
    width: 100%;
}

.sideBar {
    width: 40%;
    height: 32.3vh;
    font-family: 'Lora', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.posts {
    margin-top: 10px;
}

.btnPost {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    height: 50px;
    width: 50px;
    border-radius: 20px;
    border: none;
    margin-left: 10px;
    background-color: rgba(218,218,218,0.93);
}

.btnPost:active {
    transform: scale(0.95);
    transition: 0.3s;
}

.addPostContainer {
    display: flex;
    align-items: center;
    width: 100%;
}

.title {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    width: 100%;
    font-family: 'Lora', serif;
    margin-bottom: 20px;
}

.textarea {
    border-radius: 7px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    width: 90%;
    outline: none;
    resize: none;
    border: none;
    background-color: transparent;
    padding: 20px;
}