@import '../../../sass/variables';
@import '../../../sass/mixin';

.postsContainer {
    @include flex(row, space-between, center);
    padding: 20px;
    min-height: 35vh;
    width: 100%;
    box-shadow: $boxShadow;
    background: $bgcSecond;
}

.postsBlock {
    width: 100%;
}

.posts {
    margin-top: 10px;
}

.btnPost {
    box-shadow: $boxShadow;
    height: 50px;
    width: 50px;
    border: none;
    margin-right: 1.5vw;
    color: $accentColor;
    transition: 0.5s;
}

.btnPost:active {
    transform: scale(0.90);
}

.btnPost:hover {
    cursor: pointer;
}

.addPostContainer {
    @include flex(row, space-between, center);
    width: 100%;
}

.title {
    box-shadow: $boxShadow;
    padding: 15px;
    text-align: center;
    width: 100%;
    font-family: $fontFamily_1;
    margin-bottom: 20px;
}

.textarea {
    box-shadow: $boxShadow;
    width: 90%;
    outline: none;
    resize: none;
    border: none;
    background-color: transparent;
}

.form_control.error input,
.form_control.erorr textarea
{
    border: 1px solid red;
}