@import '../../../sass/variables';
@import '../../../sass/mixin';

.container {
    width: 100%;
}

.textarea {
    box-shadow: $boxShadow;
    outline: none;
    resize: none;
    border: none;
    background-color: transparent;
    padding: 10px;
    font-family: $fontFamily_1;
    width: 300px;
    font-size: 16px;
}

.inputs {
    width: 100%;
    padding: 10px;
    box-shadow: $boxShadow;
    background: $bgcSecond;
    border: 1px solid $bgcSecond;
    outline: none;
    color: black;
    font-size: 16px;
    transition: 0.5s;
    margin-top: 10px;
    font-family: $fontFamily_1;
}

.error {
    border: 1px solid rgba(229,48,91,0.93);
}

.colorRed {
    color: rgba(229,48,91,0.93);
    margin-top: 8px;
}

