.divFriends{
    color: lightslategrey;
    margin: 70px 0 0 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.friendsBlockAva{
    display: flex;
    flex-direction: column;
}

.friendAva {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin: 10px 11px 5px 0px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5)
}

.names {
    margin: 0 17px 17px 17px;
}

.container {
    display: flex;
    flex-direction: column;
}

.avasBlock {
    display: flex;
}

.friendNamesBlock{
    display: flex;
}
