@import '../../../sass/variables';
@import '../../../sass/mixin';

.profileInfoContainer {
    @include flex(row, normal, flex-end);
    width: 100%;
    height: 35vh;
    border: 20px solid $bgcSecond;
    box-shadow: $boxShadow;
    margin-top: 10px;
}

.avaDescriptionBlock {
    @include flex(row, normal, flex-start);
    width: 100%;
    border: 1px solid blue;
    height: 100%;
}

.avaBorderBlock {
    background: $bgcSecond;
    border-radius: 200px;
    position: relative;
    border: 1px solid yellow;
}

.ava {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: $boxShadow;
    margin: 20px;
}

.descriptionBlock {
    @include flex(column, normal, flex-start);
    width: 100%;
}

.borderDescriptionBLock {
    @include flex(column, normal, flex-start);
    background: $bgcSecond;
    width: 100%;
    padding: 10px;
    font-family: $fontFamily_1;
    border: 1px solid red;
    transition: all;
    transition-duration: 0.5s;
}

.editInput {
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-family: $fontFamily_1;
    height: 40px;
    outline: none;
    color: $fontColor_3;
}

.fullName {
    @include flex(row, flex-start, center);
    height: 60px;
    padding: 10px;
    background: $bgcSecond;
    width: 25%;
    border: 1px solid red;
    color: $fontColor_3;
}

.status {
    @include flex(row, flex-start, center);
    height: 60px;
    padding: 10px;
    background: $bgcSecond;
    width: 75%;
    color: $fontColor_3;
    border: 1px solid red;
}

.statusBlock {
    @include flex(row, center, center);
    border: 1px solid red;
    margin-left: 5px;
    position: relative;
    transition: all;
    transition-duration: 0.5s;
    color: $fontColor_3;
}

.formPersonInformation {
    @include flex(row, space-between, flex-end);
    width: 100%;
    padding: 10px;
    overflow-y: scroll;
    border: 1px solid red;
}

.formPersonFirst {
    @include flex(column, space-between, flex-start);
    width: 100%;
    border: 1px solid green;
}

.formPersonFirst div {
    margin: 5px 0;
    color: $fontColor_3;
}

.editContact {
    @include flex(row, space-between, center);
    border: 1px solid green;
    width: 70%;
}

.formPersonSecond {
    width: 50%;
    @include flex(row, normal, flex-end);
    border: 1px solid blue;
}

.formPersonContacts {
    @include flex(column, space-between, flex-start);
    width: 100%;
    flex-wrap: wrap;
    border: 1px solid red;
}

.formPersonContacts div{
    margin: 5px 0;
    color: $fontColor_3;
}

.formError {
    color: #b8001c;
    margin-top: 15px;
    border: 1px solid #b8001c;
}

.changePhoto {
    @include flex(row, center, center);
    position: absolute;
    width: 240px;
    height: 245px;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s;
}

.changePhoto:hover {
    opacity: 1;
}

.personInformationInput {
    border: 1px solid red;
}

.editContactRight {
    @include flex(row, space-between, center);
    width: 300px;
    border: 1px solid red;
    color: $fontColor_3;
}

.editContactRight div {
    margin: 5px 0;
}

.editLookForAJob {
    @include flex(row, space-between, center);
    border: 1px solid red;
    width: 50%;
    color: $fontColor_3;
}

.error {
    width: 400px;
    position: absolute;
    color: #b8001c;
    top: 42px;
    left: 0;
}