.container {
    display: flex;
    align-items: flex-end;
    margin-left: 430px;
    margin-bottom: 10px;
}

.inpBtnContainer {
    display: flex;
}

.textareaS {
    max-height: 40%;
    min-width: 90%;
    padding: 10px 10px 10px 15px;
    box-sizing: border-box;
    border-radius: 10px;
    border: transparent;
    outline:none;
    word-wrap: break-word;
    resize: none;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5)
}

.textareaS:hover {

}

.btnS {
    width: 70px;
    height: 35px;
    padding: 5px;
    border-radius: 10px;
    border: transparent;
    background-color: black;
    color: white;
    margin: 0 50px 0 20px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5)
}

.btnS:hover {
    color: whitesmoke;
    cursor: pointer;
}

.btnS:active {
    background-color: green;
}


