@import '../../../sass/mixin';
@import '../../../sass/variables';

.container {
    @include flex(row, space-evenly, center);
    height: 14%;
    overflow: auto;
    box-shadow: $boxShadow;
    background: $bgcSecond;
    width: 100%;
    margin-top: 20px;
}

.textareaS {
    width: 80%;
    word-wrap: break-word;
    box-shadow: $boxShadow;
    outline: none;
    resize: none;
    border: none;
    background-color: transparent;
}

.btnS {
    box-shadow: $boxShadow;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: none;
    margin-left: 10px;
    background-color: $bgcSecond;
}

.btnS:active {
    transform: scale(0.90);
    transition: 0.3s;
}



