.item {
    color: black;
    margin-top: 15px;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.5);
    min-height: 100px;
    width: 300px;
    border-radius: 3px;
    word-wrap: break-word;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.item img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin: 15px;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.5);
}

.span {
    margin: 45px 10px 10px 5px;
}

.margin_inline_end {
    margin-inline-end: 5px;
}

.margin_left {
    margin-left: 5px;
}

.box_shadow {
    box-shadow: -3px 3px 10px 0 rgba(0, 0, 0, 0.5);
}

.container {
    margin-left: 5px;
    margin-top: 60px;
}

.itemImg {

}

.likes {
    margin: 10px 10px 10px 10px;
}

.dislikes {
    margin: 10px 10px 10px 10px;
}

.conImgSpan {
    display: flex;
    overflow-x:hidden;
    word-wrap: break-word;
}