@import '../../../../sass/mixin';
@import '../../../../sass/variables';

.postContainer {
    @include flex(column, space-evenly, flex-start);
    color: black;
    margin-top: 15px;
    box-shadow: $boxShadow;
    width: 100%;
    min-height: 200px;
    word-wrap: break-word;
    list-style-type: none;
}

.imgSpanContainer {
    @include flex(row, normal, flex-start);
    width: 100%;
    border: 1px solid red;
}

.postMessage {
    width: 100%;
    box-shadow: $boxShadow;
    border-radius: 10px 10px 10px 0;
    padding: 10px;
    word-wrap: break-word;
    min-height: 60px;
    font-family: $fontFamily_1;
}

.likeDisContainer {
    @include flex(row, space-evenly, center);
    box-shadow: $boxShadow;
    background-color: $bgcSecond;
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid red;
}

.itemImg {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin-left: 10px;
    box-shadow: $boxShadow;
}

.anglePost {
    width: 15px;
    height: 15px;
}

.postNumbers {

}
