@import '../../../../sass/mixin';
@import '../../../../sass/variables';

.postContainer {
    @include flex(column, space-evenly, center);
    color: black;
    margin-top: 15px;
    box-shadow: $boxShadow;
    width: 100%;
    min-height: 200px;
    word-wrap: break-word;
    list-style-type: none;
}

.imgSpanContainer {
    @include flex(row, normal, flex-end);
    width: 100%;
}

.postMessage {
    width: 75%;
    box-shadow: $boxShadow;
    border-radius: 10px 10px 10px 0;
    padding: 10px;
    word-wrap: break-word;
    margin-top: 10px;
    min-height: 60px;
    font-family: $fontFamily_1;
}

.likeDisContainer {
    box-shadow: $boxShadow;
    background-color: $bgcSecond;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
}

.itemImg {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin-left: 10px;
    box-shadow: $boxShadow;
}

.anglePost {
    width: 15px;
    height: 15px;
}

