.app_wrapper {
    display: grid;
    margin: 0 auto;
    grid-template-areas:
    "header header"
    "nav content";
    grid-template-rows: 80px 1fr; /* говорим что есть две колонки и две строки */
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 2px;*/
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
}
/* grid значит что первые потомки дива с классом app-wrapper (header, nav, div) в файле App.tsx
   будут вести себя как grid элементы */

.app_wrapper_content {
    grid-area: content;
    background-color: white;
    display: flex;
    justify-content: center;
    background-image: url(https://img.freepik.com/free-vector/creative-geometric-design-space_53876-89786.jpg?w=1800&t=st=1678796598~exp=1678797198~hmac=c8bf78036a71b06d062a5dd5141b1b29cbe08f5226f5da4b50e1e04a8e7c8cdf);
    font-family: 'Lora', serif;
}
