.container {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
}

.body {
    display: flex;
    justify-content: center;
    border: 2px solid blue;
}

.main {
    width: 40%;
    min-height: 88vh;
    border: 2px solid yellowgreen;
}
