.app_wrapper {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-areas:
    "header header"
    "nav content";
    grid-template-rows: 60px 1fr; /* говорим что есть две колонки и две строки */
    grid-template-columns: 2.3fr 10fr;
    /*grid-gap: 5px;*/
}

/* grid значит что первые потомки дива с классом app-wrapper (header, nav, div) в файле App.tsx
   будут вести себя как grid элементы */

.app_wrapper_content {
    grid-area: content;
    background-color: forestgreen;
}
