@import '../../sass/variables';
@import '../../sass/mixin';

.navBarContainer {
    @include flex(column, normal, normal);
    width: 12%;
    height: 88vh;
    padding: 20px 0 20px 20px;
    background: $bgcSecond;
    margin: 10px;
    box-shadow: $boxShadow;
}

.navLinksContainer {
    @include flex(column, space-between, flex-start);
    height: 46vh;
    border: 1px solid red;
}

.link {
    @include flex(row, flex-start, center);
    height: 14%;
    width: 100%;
    color: $fontColor_3;
    text-decoration: none;
    outline: none;
    font-size: 18px;
    font-family: $fontFamily_1;
    flex-grow: 1;
    padding: 10px;
    border: 1px solid red;
    transition: all;
    transition-duration: 0.5s;
}

.link:hover {
    cursor: pointer;
    transition: all 0.4s ease;
    border: 1px solid $bgcFirst;
    color: #1e88e5;
    transform: scale(1.08);
}

.link:active {
    border: 1px solid $bgcFirst;
}

.activeLink {
    border: 1px solid $bgcFirst;
    color: $accentColor;
}

.linkLogo {
    margin-right: 20px;
    width: 25px;
}

.linkIcon {
    margin-right: 20px;
}