.navBarContainer {
    width: 20%;
    min-height: 100vh;
    padding: 20px 0 20px 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    background: rgba(200,200,200, 0.7);
}

.navContainer {
    height: 40vh;
}

.link {
    display: flex;
    align-items: center;
    height: 14%;
    color: lightslategrey;
    text-decoration: none;
    outline: none;
    font-size: 20px;
    font-family: 'Lora', serif;
    flex-grow: 1;
    padding: 10px 5px 5px 10px;
}

.link:hover {
    background-color: #ffffff;
}

.link:active {

}

.activeLink {
    color: #218be1;
    background-color: #ffffff;
    opacity: 0.8;
}

.linkLogo {
    margin-right: 15px;
}
